<!-- include the header -->
<%- include('include/_header') %>
  <!-- /include header-->

  <!-- Main Site -->
  <main>
    <h1>This is the Edit Entry Page!</h1>
  </main>
  <!-- /Main Site -->

  <div>
    <input type="hidden" class="journalId" value="<%= journal._id %>">
    <label>Date <input type="date" class="date" value="<%= journal.date.toISOString().split('T')[0] %>" /></label>
    <fieldset>
      <legend>

        Employability Competencies <% for (let competency of comps) { %>
          <label>
            <% if (competency===journal.competency) { %>
              <input type="radio" class="competency" name="competency" value="<%= competency %>" checked>
              <% } else { %>
                <input type="radio" class="competency" name="competency" value="<%= competency %>">
                <% } %>
                  <%= competency %>
          </label>
          <% } %>
      </legend>
    </fieldset>
    Journal Entry <textarea class="content">  <%= journal.content %></textarea>
    </label>
    <input type="submit" class="submit" value="submit" />
    <input type="submit" class="delete" value="delete" />
  </div>

  <script src="/js/editEntry.js"></script>

  <!-- include footer -->
  <%- include('include/_footer') %>
    <!-- /include footer -->
