   <!-- include the header -->
<%- include('include/_header') %>
<!-- /include header-->

<!-- Main Site -->
<main>
  <h1> Watchlist</h1>
  <div class="indexTopBar">
    <h1>K/C Drama Watchlist </h1>
    <a href="/createEntry" role="button">Create Entry</a>
  </div>
  <div>
    <label>Date <input type="date" class="date" /> </label>
   <div class="entries">
    <% for(let entry of entries) { %>
    <div class="entry">
      <div><%= entry.date %></div>
      <div class="entryWatchlist"><%= entry.watchlist %></div>
      <div class="entryContent"><%= entry.content %></div>
      <div>
    </label>
    <input type="submit" class="submit" value="submit" />
  </div>
</main>

<!-- /Main Site -->

<script src="/js/createEntry.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->